<h1>{{ pageTitle }}</h1>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Director</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies; let i = index; let e = even; let o = odd;" [ngClass]="{even: e, odd: o}">
                <td><img src='{{ "assets/images/" + movie.imageName + ".jpg" }}'></td>
                <td>{{movie.title}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.releaseDate | date: 'mediumDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="addNew">
    <button (click)="onAddMovie()">{{ addNewMovie == false ? 'Add New Movie' : 'Cancel' }}</button>
</div>
<br>
<div *ngIf="addNewMovie" id="newFavMovie">
    <label for="imageUpload">Upload Movie Image</label>
    <input id="imageUpload" type="file" (change)="onFileSelected($event)">

    <input [(ngModel)]="newTitle" type="text" name="title" placeholder="Movie Title">

    <input [(ngModel)]="newDirector" type="text" name="director" placeholder="Director Name">

    <input [(ngModel)]="newReleaseDate" type="date" name="releaseDate" placeholder="Release Date">

    <button type="submit" (click)="addMovieToList()">Submit</button>
</div>
